<header>
    <div class="col-8 offset-2 col-sm-10 offset-sm-1 content">
        <div class="col-12 col-md-9 menu">
            <a class="itemMenu" href="#">Услуги</a>
            <a class="active  itemMenu" href="#">Цены</a>
            <a class="itemMenu" href="#">О компании</a>
            <a class="itemMenu" href="#">Контакты</a>
        </div>
    </div>
</header>
